<div class="main-content home-bg">
  <div class="container">
    <span
      class="pre-title wow fadeIn"
      data-wow-duration="2s"
      data-wow-delay=".5s"
      >HELLO,</span
    >
    <h2 class="wow fadeIn" data-wow-duration="3s" data-wow-delay="1s">
      I'M James Bond
    </h2>
    <p
      class="post-title wow fadeIn"
      data-wow-duration="4s"
      data-wow-delay="1.5s"
    >
      UI/UX Designer &amp; Front-End Developer
    </p>
    <hr class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="3s" />
    <div class="home-social">
      <ul>
        <li class="wow fadeIn" data-wow-duration="4s" data-wow-delay="1.25s">
          <fa-icon [icon]="faFacebookF"></fa-icon>
        </li>
        <li class="wow fadeIn" data-wow-duration="4s" data-wow-delay="1.5s">
          <fa-icon [icon]="faGit"></fa-icon>
        </li>
        <li class="wow fadeIn" data-wow-duration="4s" data-wow-delay="1.75s">
          <fa-icon [icon]="faSkype"></fa-icon>
        </li>
        <li class="wow fadeIn" data-wow-duration="4s" data-wow-delay="2s">
          <fa-icon [icon]="faFacebookF"></fa-icon>
        </li>
      </ul>
    </div>
  </div>
</div>
