

.main-content
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100vh
    hr
        width: 70px
        height: 1px
        border: 0
        background-color: #787878
        margin: 10px 0
        position: relative
    .detail
        max-width: 400px
        text-align: justify

.home-social ul
    list-style: none
    background-color: black
    padding: 0 0 0 40px
    margin: 0
    li
        position: relative
        display: inline-block
        width: 50px
        text-align: left

.home-bg
    max-width: 500px
    max-height: 400px
    transform: translate(-50%, -50%)
    top: 45.0%
    left: 50%
    position: absolute
    padding: 20px
    border-radius: 10px