<div class="header_inner container">
  <div class="logo">
    <a href="https://hututusoftwares.com/"
      ><img
        class="max-w-[80px]"
        src="https://hututusoftwares.com/images/apple-touch-icon-72x72.png"
        alt=""
    /></a>
  </div>
</div>

<div class="main-content home-bg">
  <span class="pre-title wow fadeIn" data-wow-duration="2s" data-wow-delay=".5s"
    >HELLO,</span
  >
  <h2 class="wow fadeIn" data-wow-duration="3s" data-wow-delay="1s">
    <span class="gradient-text">I'M Yogesh Bangar</span>
  </h2>
  <p class="post-title wow fadeIn" data-wow-duration="4s" data-wow-delay="1.5s">
    WEBGL &amp; FRONT-END DEVELOPER
  </p>
  <p class="detail wow fadeIn" data-wow-duration="4s" data-wow-delay="1.5s">
    I am a full stack web developer based in Indore, India. This website is a
    personal project that serves as a portfolio. Built using Angular, three.js
    and blender. Feel free to contact me using the contact page or through one
    of the social media profiles.
  </p>
  <hr class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="3s" />
  <div class="home-social">
    <ul>
      <li class="wow fadeIn" data-wow-duration="4s" data-wow-delay="1.25s">
        <a href="https://www.upwork.com/freelancers/~013cbef28a7f7be37d" target="_blank"
          ><fa-icon [icon]="faFacebookF"></fa-icon
        ></a>
      </li>
      <li class="wow fadeIn" data-wow-duration="4s" data-wow-delay="1.5s">
        <a href="https://github.com/yogeshbangar" target="_blank"
          ><fa-icon [icon]="faGit"></fa-icon
        ></a>
      </li>
      <li class="wow fadeIn" data-wow-duration="4s" data-wow-delay="1.75s">
        <a href="https://github.com/yogeshbangar" target="_blank"
          ><fa-icon [icon]="faSkype"></fa-icon
        ></a>
      </li>
      <li class="wow fadeIn" data-wow-duration="4s" data-wow-delay="2s">
        <a href="https://www.linkedin.com/in/yogesh-bangar-45632b18/" target="_blank"
          ><fa-icon [icon]="faLinkedin"></fa-icon
        ></a>
      </li>
    </ul>
  </div>
</div>
