<div class="header_inner container">
  <div class="logo">
    <a href="{{baseURL}}" target="_blank"
      ><img
        class="max-w-[80px]"
        src="{{logoURL}}"
        alt="" /></a
    >hututusoftwares
  </div>
  <div class="menu">
    <ul class="transition_link">
      <li
        [ngClass]="{ gradientText: (state$ | async)?.page === pageView.HOME }"
        class="inline-block"
      >
        <span (click)="actionSetPage(pageView.HOME)">Home</span>
      </li>
      <li
        [ngClass]="{ gradientText: (state$ | async)?.page === pageView.ABOUT }"
        class="inline-block"
      >
        <span (click)="actionSetPage(pageView.ABOUT)">About</span>
      </li>
      <li
        [ngClass]="{ gradientText: (state$ | async)?.page === pageView.PORTFOLIO }"
        class="inline-block"
      >
        <span (click)="actionSetPage(pageView.PORTFOLIO)">Portfolio</span>
      </li>
      <li
        [ngClass]="{ gradientText: (state$ | async)?.page === pageView.NEWS }"
        class="inline-block"
      >
        <span (click)="actionSetPage(pageView.NEWS)">News</span>
      </li>
      <li
        [ngClass]="{ gradientText: (state$ | async)?.page === pageView.CONTACT }"
        class="inline-block"
      >
        <span (click)="actionSetPage(pageView.CONTACT)">Contact</span>
      </li>
    </ul>
  </div>
</div>
<div style="display: flex; justify-content: center">
  <span (click)="decrement()">-</span>
  <span style="margin: 0 20px">{{ (state$ | async)?.count }}</span>
  <span (click)="increment()">+</span>
</div>
