<div class="main-content" id="contact">
  <div class="section_inner">
    <div class="edrea_tm_contact">
      <div class="edrea_tm_main_title">
        <h3>Get in Touch</h3>
      </div>
      <div class="wrapper">
        <div class="left">
          <ul>
            <li>
              <div class="list_inner">
                🏠
                <span class=""
                  ><a href="#">11 Bajrang Nagar Indore India</a></span
                >
              </div>
            </li>
            <li>
              <div class="list_inner">
                ☎
                <span class=""><a href="#">+91-942-595-9123</a></span>
              </div>
            </li>
            <li>
              <div class="list_inner">
                📧
                <span class=""><a href="#">yogeshbangar@gmail.com</a></span>
              </div>
            </li>
            <li>
              <div class="list_inner">
                <fa-icon [icon]="faSkype"></fa-icon>
                <span class=""><a href="#"> yogeshbangar</a></span>
              </div>
            </li>
          </ul>
        </div>
        <div class="right">
          <div class="fields w-full h-auto clear-both float-left">
            <form
              action="/"
              method="post"
              class="contact_form"
              id="contact_form"
            >
              <div
                class="returnmessage"
                data-success="Your message has been received, We will contact you soon."
              ></div>

              <div class="first">
                <ul class="list-none nm-container">
                  <li>
                    <div class="list_inner">
                      <input
                        class="bg-transparent border-none"
                        id="name"
                        type="text"
                        placeholder="Name"
                        autocomplete="off"
                      />
                    </div>
                  </li>
                  <li class="">
                    <div class="list_inner">
                      <input
                        class="bg-transparent border-none"
                        id="name"
                        type="email"
                        placeholder="Email"
                        autocomplete="off"
                      />
                    </div>
                  </li>
                </ul>
              </div>
              <div class="last list_inner">
                <textarea
                  class="bg-transparent border-none"
                  id="message"
                  placeholder="Message"
                ></textarea>
              </div>
              <div class="edrea_tm_button">
                <a id="send_message" href="#">Send Message</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
